<nav id="home">

    <h2>Where to next?</h2>

    <form class="form-inline" action="/trail" method="GET">
        <input class="form-control mr-sm-2" type="search" name="location" placeholder="i.e. 123 Main St | Seattle, WA | Deception Pass" size="40">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</nav>



