body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    text-align: center;
    background-image: url("../img/hike.jpg");
    background-size: cover;
    background-attachment: fixed;

}

canvas {
    position: relative !important;
}

.container {
    
    font-family: "Helvetica Neue";
    color: #555555; 
}


#home {
    color: #1A2601;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}


#map {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 80vh; 
}

#similar {
    display: inline-block;
}




