body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    text-align: center;
    background-image: url("../img/hike.jpg");
    background-size: cover;
    background-attachment: fixed;

}

canvas {
    position: relative !important;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}



.navbar-brand {
    color: #FFFFFF;
}

.container {
    margin: 100px auto 10px auto;
    font-family: "Helvetica Neue";
    color: #333333; 
}

.container-fluid {
    text-align: center;
    margin: 20px auto; 
    background-color: rgba(167, 200, 242, .75);
    border-radius: 20px; 
    padding: 10px; 
    color: #FFFFFF;
}

.container-show {
    text-align: center;
    margin: 20px auto; 
    background-color: rgba(167, 200, 242, .75);
    border-radius: 20px; 
    padding: 10px; 
    color: #333333;
}


#home {
    color: #1A2601;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: fixed; 
    top: 150px;
    bottom: 260px;
    left: 260px; 
    right: 300px; 
    margin: 0 auto;
}


#map {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 60vh; 
}

#similar {
    display: inline-block;
}




