<h2>Update your review</h2>

<form method="POST" action="/favorites/<%= trails.number %>/?_method=PUT">
    <label for="comment"> Review </label>
    <input type="text" name="dinosaurType" value="<%= dino.type%>" />

    <label for="dinosaurName"> Name </label>
    <input type="text" name="dinosaurName" value="<%= dino.name%>" />

        <input type="submit" value="Update my review">
    </form>
<br>
<a href="/favorites/<%= trails.number%>">Back to trail</a>