<div class="container">
  
  <h1 class="text-center">My Favorites</h1>


  <p> Click on each link for more details.</p>

  <% user.trails.forEach(function(trail) { %>
      <h4><a href="/favorites/<%= trail.number %>"><%= trail.name %></a></h4>
  <% }); %>

 

</div>


